body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url(background.jpg);
  background-size: cover;
  padding: 50px;
  font-size: 15px;
}


#logo {
  width: 200px;
}


.logo-slogan {
  text-align: center;
}


h1 {
  color: lightgreen;
}


.main-container {
  width: 800px;
  height: 530px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  padding: 50px;
  border-radius: 15px;
}


.container-1 {
  width: 800px;
  background-color: lightgreen;
  margin: auto;
  padding: 8px;
  border-radius: 5px;
}


.nav-bar {
  text-align: center;
}


.container-2 {
  color: white;
}


.veh-list {
  display: inline-grid;
}


#monopattino {
  font-size: 16px;
}


#via, #carica {
  font-size: 12px;
  opacity: 70%
}


.battery-bar-1 {
  width: 300px;
  background-color: orange;
  padding: 5px;
  border-radius: 5px;
  opacity: 80%
}


.battery-bar-2 {
  width: 600px;
  background-color: lightgreen;
  padding: 5px;
  border-radius: 5px;
  opacity: 80%
}


.battery-bar-3 {
  width: 100px;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  opacity: 80%
}
